{{! сторінка новин }}
<div class='container'>
  <div class='news__block'>
	<div>
    	<div>{{> user-cont}} </div>
		<div>
			<img class="img__public" src="/img/user-public/IMG_20230114_121828.jpg" alt="">
		</div>
  	</div>
  <div>
	<p>Відпочинок у бабусі!!!</p>
  </div>
  <div class="bottom__menu">
	<div><input type="checkbox" name="" id=""></div>
	<div>comment</div>
	<div>share</div>
  </div>
  </div>

  <div class='news__block'>
	<div>
    	<div>{{> user-cont}} </div>
		<div>
			<img class="img__public" src="/img/user-public/IMG_20230114_121828.jpg" alt="">
		</div>
  	</div>
  <div>
	<p>Відпочинок у бабусі!!!</p>
  </div>
  <div class="bottom__menu">
	<div><input type="checkbox" name="" id=""></div>
	<div>comment</div>
	<div>share</div>
  </div>
  </div>

  <div class='news__block'>
	<div>
    	<div>{{> user-cont}} </div>
		<div>
			<img class="img__public" src="/img/user-public/IMG_20230114_121828.jpg" alt="">
		</div>
  	</div>
  <div>
	<p>Відпочинок у бабусі!!!</p>
  </div>
  <div class="bottom__menu">
	<div><input type="checkbox" name="" id=""></div>
	<div>comment</div>
	<div>share</div>
  </div>
  </div>
</div>