<link rel='stylesheet' href='/css/user-cont.scss' />

<div class='user'>
  <img src='/img/svg/user.svg' alt='user' />
  <div>User</div><div class='user__react'>Почувається
    щасливим</div>
</div>