{{! 
  Це леяут по замовчюванню, котрий вже містить базову структуру HTML документа
  І котрий обгортає код container файлів для будь-яких ендпоїнтів
}}

<html>

  <head>
    <title>
      Page name
    </title>
    <meta charset='utf-8' />
    <link href='css/index.scss' rel='stylesheet' />

    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Nova+Square&family=Open+Sans:wght@700&family=Roboto:wght@400;700&family=Rubik+Dirt&family=Single+Day&display=swap'
      rel='stylesheet'
    />
  </head>
  <header>

  </header>
  <body>
    <div class='block'>
      <div class='block__menu'>
        <div class='home'><a href='/'>Home</a></div>|
        <div><a href='/news' class='news'>NEWS</a></div>|

      </div>
      <div class='block__menu'>
        <div>
          <a href='/profile'><img
              src='/img/svg/user.svg'
              alt='profile'
            /></a>
        </div>|
        <div>
          <a href='/setting'><img
              src='/img/svg/settings.svg'
              alt='settings'
            /></a>
        </div>
      </div>
    </div>

    <div class='padd'>
      <div>
        {{!-- <audio
          {{! controls }}
          src='/music/neizvesten-my-heart-full-of-flames-pubg-mobile-update-2.2-song-pubgmobile-pubg-2022_456239172.mp3'
          autoplay
          loop
        >my heart</audio> --}}
      </div>
    </div>
    {{!  ↓  ця кострукція показує куди шаблонізатору треба вставляти код з container файлу   }}
    {{{body}}}
  </body>

</html>